.productsWithFiltersWrapper {
  display: grid;
  grid-template-columns: 270px 1fr;
  gap: 30px;
  margin-top: 70px;
}

.categoryHeadline {
  margin-bottom: 25px;
}

.bottomFilter {
  margin-top: 70px;
}
