.wrapper {
  margin-top: 50px;
}

.totalPriceWrapper {
  display: flex;
  justify-content: flex-end;
}

.totalPriceText {
  margin-right: 15px;
}

.cart {
  margin-top: 50px;
}

.checkoutLink {
  width: 120px;
  margin: 15px 0 0 auto;
}
