.breadcrumbs {
  margin: 15px 0 35px 0;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  overflow-x: auto;
  ol {
    display: flex;
    align-items: center;
  }
}

.separator {
  margin: 0 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--breadcrumbs-separator-color);
}
