@mixin min-width-height($min-width, $height) {
  min-width: $min-width;
  height: $height;
}

@mixin button-variant($border, $fill, $color) {
  border: $border;
  background-color: $fill;
  color: $color;
}
