@mixin min-width-height($min-width, $height) {
  min-width: $min-width;
  height: $height;
}

@mixin button-variant($border, $fill, $color) {
  border: $border;
  background-color: $fill;
  color: $color;
}

@mixin typography-set($font-weight, $font-size, $line-height) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}
