:root {
  --app-min-width: 320px;
  --app-margin: 0;
  --app-font-family: 'Open Sans';
  --app-fallback-font-family: sans-serif;
  --app-font-weight: 400;
  --app-background: #f9f9f9;
  --app-font-size: 14px;
}
