:root {
  --app-min-width: 320px;
  --app-margin: 0;
  --app-primary-font: 'Open Sans';
  --app-secondary-font: 'Poppins';
  --app-fallback-font: sans-serif;
  --app-default-font-weight: 400;
  --app-background: #f9f9f9;
  --app-container-background: #fff;
  --app-default-font-size: 14px;
  --app-transform-transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  --app-focus-visible: 0 0 0 3px #6a983c;

  --arrow-fill-green: #6a983c;
  --arrow-fill-white: #fff;
  --arrow-fill-black: #151515;

  --button-text-fill: #fff;
  --button-text-border: none;
  --button-text-color: #151515;
  --button-contained-fill: #6a983c;
  --button-contained-border: 2px solid #46760a;
  --button-contained-color: #fff;
  --button-outlined-fill: #fff;
  --button-outlined-border: 2px solid #92c064;
  --button-outlined-color: #151515;
  --button-ghost-fill: #f5f5f5;
  --button-ghost-border: none;
  --button-ghost-color: #151515;

  --tag-contained-fill: #f4f8ec;
  --tag-contained-color: #6a983c;
  --tag-contained-delete-fill: #c8deb3;
  --tag-outlined-fill: #fff;
  --tag-outlined-color: #151515;
  --tag-outlined-delete-fill: #d1d1d1;
  --tag-outlined-border: 1px solid #ebebeb;
  --tag-ghost-fill: #f5f5f5;
  --tag-ghost-color: #151515;
  --tag-ghost-delete-fill: #d1d1d1;

  --rating-star-fill: #fdbc15;

  --checkbox-border: 2px solid #46760a;
  --checkbox-border-not-filled: 2px solid #d1d1d1;
  --checkbox-filled: #6a983c;
  --checkbox-not-filled: #fff;

  --radio-border-not-filled: 2px solid #d1d1d1;
  --radio-border-filled-black: 6px solid #151515;
  --radio-border-filled-green: 6px solid #6a983c;
  --radio-not-filled: #fff;

  --label-color: #151515;

  --input-focused-box-shadow: 0 0 0 2px #6a983c;

  --form-styled-wrapper-fill: #f9f9f9;
  --form-styled-wrapper-border: 1px solid #d1d1d1;
}
