.skeleton {
  background-color: var(--skeleton-bg);
  animation: 1.5s ease-in-out 0.5s infinite normal none running skeleton;
}

.productsSkeletonWrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.image {
  margin-bottom: 15px;
}

.title {
  margin-bottom: 5px;
}

.descripton {
  margin-bottom: 12px;
}

.rating {
  margin-bottom: 15px;
}

@keyframes skeleton {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

.text {
  height: 15px;
}

.circular {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.rectangular {
  height: 60px;
}

.rounded {
  height: 60px;
  border-radius: 12px;
}
