@import '~/styles/mixins';

.mediumBlog {
  max-width: 270px;
  display: block;
}

.image {
  border-radius: 12px;
  margin-bottom: 24px;
  display: block;
}

.tagsList {
  margin-top: 24px;
}

.title {
  @include truncate(3);

  margin-top: 8px;
}

.authorTimestamp {
  margin-top: 16px;
}
