.topFilters {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-rows: 40px;
  grid-auto-flow: column;
  gap: 15px;
}

.priceRadio {
  & + & {
    margin-left: 15px;
  }
}

.countryCheckbox {
  margin-right: 15px;
}
