.button {
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0.5) 100%);
  backdrop-filter: blur(2px);
  border: none;
  padding: 0;
  cursor: pointer;
}

.prevArrow {
  left: 0;
  z-index: 2;
}

.nextArrow {
  right: 0;
}
