.formStyledWrapper {
  max-width: 320px;
  padding: 0;
  margin-top: 8px;
}

.label {
  &:not(:first-child) {
    margin-top: 15px;
  }
}

.avatarWrapper {
  margin-bottom: 10px;
  text-align: center;
}

.avatarPreviewWrapper {
  margin: 10px 0;
  text-align: center;
}

.removeAvatarButton {
  margin: 10px auto;
}
