.inputsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media (max-width: 1199px) {
  .inputsWrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 991px) {
  .inputsWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 575px) {
  .inputsWrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
