.selectWrapper {
  position: relative;
  display: inline-flex;
  min-width: 50px;
  z-index: 1;
}

.select {
  padding: 0 8px 0 0;
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: var(--app-font-secondary);
  font-weight: 600;
  appearance: none;
  cursor: pointer;
  border-radius: 12px;

  &:focus {
    outline: var(--app-outline-focusVisible);
  }

  &:focus ~ .endAdornment > svg {
    transform: rotateZ(0);
  }
}

.endAdornment {
  position: absolute;
  display: inline-flex;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: -1;
}
