.select {
  select {
    font-size: 15px;
    font-weight: 700;
    width: 130px;
  }
}

.searchButton {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.divider {
  margin: 10px 12px 10px 24px;
}
